

#navbar{
	background-color: #6F1E51 !important;
}

a.navbar-brand{
	margin-left:10px;
	color:#C4E538 !important;
	font-size:25px;
	font-family: 'Fredoka One', cursive;
}

#navbar img{
	max-height: 45px;
}

#navbar a, #navbar a:visited{
	color:#C4E538 !important;
}

#navbar .navbar-toggler {
    color: #C4E538;
    border-color: #C4E538;
}

/* from booksearch example */
/* https://codesandbox.io/s/9167mmkqlo?source=post_page--------------------------- */

.filter {
  background: white;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 2px rgba(24, 28, 43, 0.2);
  color: #181c2b;
}

.filters-container {
  /*display: flex;
  flex-direction: column;
  width: 25%;*/
  padding: 10px;
}

.filter input:checked + label::before {
    border-color: #6F1E51;
    background-color: #6F1E51;
}

.result-list-container {
  margin: 10px;
  padding: 10px;
}